:root {
    --merah: #f44156;
    --backColor: #EDF2F4;
    --whiteBrown: #ffffff;
    --biru: #203f60;
}

.hide {
    display: none;
}

.bungkus-main {
    width: 100%;
    height: 680px;
    overflow-y: auto;
}

main {
    height: 100%;
}

.konten {
    padding: 0 100px;
    width: 100%;
    height: 680px;
}

.bungkus-banner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #7bb6ff;
    height: 96%;
    position: relative;
    justify-content: space-between;
}

.banner {
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan-utama {
    font-size: 4em;
    font-weight: 800;
    line-height: 70px;
    font-family: 'Roboto Slab',
        serif;
        color: #112e4e;
}

.slogan-paraf {
    font-size: 1.2em;
    margin-top: 18px;
    color: #203f60;
}

.img-banner {
    background-image: url("../assets/dokter.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-position-x: 50%;
    background-size: 165%;
    width: 600px;
    height: 100%;
    position: relative;
    z-index: 1;
}

.pencarian {
    width: 600px;
    height: fit-content;
    position: relative;
    display: flex;
    border-radius: 15px;
    margin-top: 30px;
}

.cari {
    width: 100%;
}

.ikon-cari {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--biru);
    padding: 0 20px;
    border-radius: 0 15px 15px 0;
    font-size: 1.3em;
    cursor: pointer;
}

.ikon-cari i,
.ikon-cari p {
    color: var(--backColor);
}

.ikon-cari i {
    font-weight: 800;
    margin-right: 5px;
}

.ikon-cari p {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 500;
}

.data-pencarian {
    width: 100%;
    height: fit-content;
    padding: 15px 18px;
    border: 0;
    outline: 0;
    font-size: 1.1em;
    border-radius: 15px 0 0 15px;
}

.data-pencarian::-webkit-input-placeholder {
    color: #a5a5a5;
}

.hasil-cari {
    position: absolute;
    width: 100%;
    max-height: 390px;
    top: 100%;
    background-color: var(--backColor);
    border-radius: 15px;
    border-top: 0;
    overflow-y: auto;
    box-shadow: 10px 10px 10px #dddddd;
}

.hasil-cari a {
    text-decoration: none;
}

.kertas-hasil {
    width: 100%;
    height: 130px;
    display: flex;
    padding: 8px;
}

.img-hasil {
    width: 180px;
    height: 100%;
    border-radius: 10px;
    display: grid;
    place-content: center;
    overflow: hidden;
    margin-right: 20px;
}

.img-hasil img {
    width: 100%;
}

.judul-hasil {
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 340px;
}

.prev-hasil {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 340px;
    font-size: 0.9em;
}

.head-konten {
    width: 100%;
    height: fit-content;
    padding: 40px 0;
    display: grid;
    place-content: center;
}

.title-head {
    text-transform: capitalize;
    font-size: 2.1em;
    font-weight: 800;
}

.layanan {
    height: fit-content;
    margin-bottom: 30px;
}

.bungkus-layanan {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.kertas-layanan {
    width: 400px;
    height: 160px;
    display: flex;
    background-color: var(--whiteBrown);
    box-shadow: 10px 10px 15px #dddddd, -10px -10px 15px #fdfdfd;
    border-radius: 20px;
    border: 1px solid #ffffff;
}

.kertas-layanan:nth-child(3) {
    margin-right: 0;
}

.teks-layanan {
    width: 258px;
    padding: 10px 0;
}

.img-layanan {
    width: 140px;
    height: 100%;
    display: grid;
    place-content: center;
}

.img-lyn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.img-lyn img {
    height: 100%;
}

.nama-layanan {
    font-size: 1.8em;
}

.paraf-layanan {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 18px;
}

.coba-layanan {
    padding: 7px 30px;
    background-color: var(--biru);
    border-radius: 50px;
    color: var(--backColor);
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
}

.halaman-arahan {
    text-transform: capitalize;
    color: var(--merah);
}

.bungkus-artikel {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding: 20px;
}

.kertas-artikel {
    width: 290px;
    height: 355px;
    background-color: var(--biru);
    border-radius: 10px;
    overflow: hidden;
}

.img-artikel {
    height: 174px;
    overflow: hidden;
    margin-bottom: 10px;
    display: grid;
    place-content: center;
}

.teks-artikel {
    padding: 0 20px;
}

.teks-artikel a {
    text-decoration: none;
}

.judul-artikel {
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
    font-size: 1.6em;
    color: #ffffff;
}

.prev-artikel {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
    margin: 4px 0;
    color: #c9c9c9;
}

.baca-lengkap {
    width: 100%;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: var(--backColor);
    color: var(--biru);
    display: grid;
    place-content: center;
    margin-top: 30px;
    font-weight: 700;
}

.img-artikel img {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .img-banner {
        background-image: none;
        display: none;
    }
}

@media screen and (max-width: 720px) {}

@media screen and (max-width: 366px) {}